.blockStock{
    display: flex;
    flex-flow: column ;
    text-align: center;
    height: 110px;
    width: 200px;
    margin: 5px;
    font-size: 16px;
    background-color: rgb(235, 240, 243);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.blockInfoStock{
    padding-top: 20px;
}
.textGreen{
    color: green;
}
.textRed{
    color: red;
}
