.main {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}
.blockInfo {
    display: flex;
    justify-content: center;
}

.switchText {
    margin: 50px 39%;
}
.blocksListStocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    row-gap: 10px;
    margin: 0 auto;
}

.switchTextBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}
